#wpfooter{
    position: static;
    margin: 0;
}
.twchr-modal h3,
.twchr-dashboard-card  h2,
.twchr-for-back *{
    font-family: 'Comfortaa';
}

:root{
    --twchr-blue:#429CD6;
    --twchr-purple:#65449B;
}
.alert-twchr-back{
    background-color: #fff;
    padding: 10px 14px;
    border-left: 3px solid var(--e-context-success-color);
    margin-top: 15px;
    margin-bottom: 20px;
    width: max-content;
}

.alert-twchr-back > *{
    margin: 0;
}

.alert-twchr-back.warning{
    border-left: 3px solid var(--e-context-warning-color);
}

.twchr_toApi_category_ajax--container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 4px;
    position: relative;
}

.twchr_toApi_category_ajax--container span{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--e-button-context-color-dark);
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 5px;
    cursor:pointer;
}

.twchr_modal{
    background-color: #fff;
    position: absolute;
    width: max-content;
    padding: 10px 15px;
    left: 0;
    top: 0cm;
    z-index:-1;
    transition: .3s ease-in-out ;
    opacity: 0;
}

.twchr_modal.active{
    display: block;
    left: 0;
    top: 1cm;
    z-index: 10;
    opacity: 1;
    overflow: scroll;
    max-height: 150px;
}

.twchr_modal section{
    display: flex;
    justify-content: space-between;
}

.twchr_modal section input{
    width: auto;
}

.twchr_message{
    background-color: #fff;
    z-index: 9999;
    padding: 5pt 10pt;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 30%);
    margin: 5pt 0;
}

.twchr_modal_video_ajax input{
    position: relative;
}

.menu-icon-twchr_streams .dashicons-before img{
    transform: scale(.7);
    opacity: 1 !important;
}

.twchr-dashboard-card{
    background-color: #fff;
    box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px #A6ABBD;
    border-radius: 15px;
}