.twchr-modal h3,
.twchr-dashboard-card  h2,
.twchr-for-back *{
    font-family: 'Comfortaa';
}

:root{
    --twchr-blue:#429CD6;
    --twchr-purple:#65449B;
    --twchr-green:#30CC2D;
}
.alert-twchr-back{
    background-color: #fff;
    padding: 10px 14px;
    border-left: 3px solid var(--twchr-green);
    margin-top: 15px;
    margin-bottom: 20px;
    width: max-content;
}

.alert-twchr-back > *{
    margin: 0;
}

.alert-twchr-back.warning{
    border-left: 3px solid var(--twchr-blue);
}

.twchr_toApi_category_ajax--container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 4px;
    position: relative;
}

.twchr_toApi_category_ajax--container span{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--twchr-purple);
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 5px;
    cursor:pointer;
}

.twchr_modal{
    background-color: #fff;
    position: absolute;
    width: max-content;
    padding: 10px 15px;
    left: 0;
    top: 0cm;
    z-index:-1;
    transition: .3s ease-in-out ;
    opacity: 0;
}

.twchr_modal.active{
    display: block;
    left: 0;
    top: 1cm;
    z-index: 10;
    opacity: 1;
    overflow: scroll;
    max-height: 150px;
}

.twchr_modal section{
    display: flex;
    justify-content: space-between;
}

.twchr_modal section input{
    width: auto;
}

.twchr_message{
    background-color: #fff;
    z-index: 9999;
    padding: 5pt 10pt;
    box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px #A6ABBD;
    margin: 5pt 0;
    border-radius: 15px;
    border:3px solid var(--twchr-purple);
    font-family: 'Comfortaa';
}
.twchr_message .destacado{
    color: var(--twchr-purple);
}
.twchr_modal_video_ajax input{
    position: relative;
}

.menu-icon-twchr_streams .dashicons-before img{
    transform: scale(.7);
    opacity: 1 !important;
}

.twchr-dashboard-card{
    background-color: #fff;
    box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px #A6ABBD;
    border-radius: 15px;
}

stream.twchr-modal,.twchr-modal-general{
    background-color: #fff;
    position: absolute;
    left: 16%;
    max-width:650px;
    max-height: 630px;
    border: 2px solid var(--twchr-purple);
    box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px #A6ABBD;
    border-radius: 15px;
    padding:1cm;
    z-index: 99;
}

stream.twchr-modal h3{
    color:var(--twchr-purple);
    font-size: 28px;
    line-height: 34.3px;

}
stream.twchr-modal p{
    color:#848484;
}
    stream.twchr-modal .twchr-modal-button{
    display: block;
    width: max-content;
    margin:0 auto;
    cursor: pointer;
    color:var(--e-context-primary-color);
    border:2px solid var(--e-context-primary-color);
    padding:.3em 1em;
}
stream.twchr-modal.disabled{
      display: none;
}
.twchr_button_container{
    display: flex;
    justify-content:center;
}
stream.twchr-modal .twchr-modal-button.close{
   background-color:var(--e-context-primary-color);
   color:#fff;
}

.twchr-modal-selection__info{
    display: grid;
    grid-template-columns: 2fr 104px;
    column-gap: 2cm;
}

.twchr-modal-selection__info picture img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}
.twchr-modal-selection__list{
    display:grid;
    grid-template-columns:2fr 1.5fr 1fr 56px;
    margin-top:1cm;
}

.twchr-modal-selection__list li {
    color:var(--twchr-purple);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
}

.twchr_modal_video_ajax{
    display: grid;
    grid-template-columns:auto 56px;
}
.twchr_modal_video_ajax input[type='checkbox']{
    display: block;
    margin:2pt auto;
    width: 25px;
    height: 25px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
    border-radius: 3px;
}
.twchr_modal_video_ajax input[type='checkbox']:checked{
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #65449B;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -2.5px -2.5px 5px rgba(250, 251, 255, 0.1), inset 2.5px 2.5px 5px #366CBD;
}
.twchr_modal_video_ajax input[type='checkbox']:checked::before {
    margin:0; 
    height: none; 
    width: none; 
    width: 100%;
    filter: brightness(10);
}


.twchr_modal_video_ajax label{
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
    width: 100%;
    border: 1px solid #429CD6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 3pt 8pt;
    box-sizing: border-box;
    justify-items:center;
}
.twchr_modal_video_ajax span{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 2em;
}

.twchr-modal-selection_close{
    display: flex;
    justify-content: flex-end;
    font-size: 18pt;
    color: #b5b9c8;
    position: absolute;
    right: 1cm;
    top: 9pt;
    cursor:pointer;
}
.twchr-modal .twchr-modal-footer{
    margin-top: 20px;
    display: flex;
    justify-content:flex-end;
    position: relative;
    align-items:center;
}

.twchr-modal .twchr-modal-footer p {
    position:absolute;
    top:-2cm;
    left:0;
    background-color: #fff;
    border: 1px solid rgba(66, 156, 214, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 65%;
    padding:10pt 19pt;
    border-radius:10px;
    display: none;
}

.twchr-modal .twchr-modal-footer:hover p{
    display: block;
}

.twchr_modal_video_ajax input[type=radio]{
    width: 25px;
    height: 25px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
    border-radius: 50px;
    margin:10% auto;
}
.twchr_modal_video_ajax input[type=radio]:checked{
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #65449B;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -2.5px -2.5px 5px rgba(250, 251, 255, 0.1), inset 2.5px 2.5px 5px rgba(54, 108, 189, 0.4);
    border-radius: 50px;
    display: grid;
    place-items:center;

}
.twchr_modal_video_ajax input[type=radio]:checked::before{
    content:"";
    width: 12px;
    height: 12px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    box-shadow: -1px -1px 10px rgba(250, 251, 255, 0.4), 1px 1px 10px rgba(12, 18, 44, 0.8);
    border-radius: 15px;
}

#twchr-modal-selection__btn,
.twchr-modal-button,
.twchr-btn-general{
    background-color:var(--twchr-purple);
    width: 107px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color:#fff;
    font-size:15px;
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.twchr-btn-general{
    text-decoration: none;
    display: grid;
    place-items: center;
    font-family: 'Comfortaa';
}

.twchr-btn-general:hover{
    color:var(--twchr-purple);
    border: 2px solid var(--twchr-purple);
    background-color: transparent;
}

.twchr_settUp_overlay{
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 99999;
    top: -1cm;
    left: -5cm;
    background-color: #fff;
    font-family: 'Comfortaa';
    padding-top: 1cm;

}
.twchr_settUp_overlay #twchr-setUp{
    max-width:1250px;
    margin:0 auto;
}

.twchr_settUp_overlay #twchr-setUp h1{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color:var(--twchr-purple);

}

.twchr_settUp_overlay #twchr-setUp section form input{
    margin-bottom: 10px;
}

.twchr_settUp_overlay #twchr-setUp .presentation{
    display: flex;
    align-items: baseline;
}
.twchr_settUp_overlay #twchr-setUp .presentation img{
    max-width: 200px;
    margin-left:5pt;
}
.twchr_settUp_overlay #twchr-setUp .card-section{
    display: grid;
    grid-template-columns:auto 1fr 228px;
    grid-template-rows:1fr 1fr;
    column-gap:1cm;
    box-shadow: 0px 4px 4px #65449B;
    border-radius: 10px;
    border:1px solid var(--twchr-blue);
    margin-bottom: 25px;
    padding:0 0 0 1cm ;
}

.twchr_settUp_overlay #twchr-setUp .card-section:nth-of-type(2) h4,
.twchr_settUp_overlay #twchr-setUp .card-section:nth-of-type(4) h4{
    grid-row: 1/3;
    align-self: center;
}

.twchr_settUp_overlay #twchr-setUp .card-section h3{
    grid-row:1/3;
    grid-column:1/2;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: var(--twchr-blue);
    margin: 0;
    display: grid;
    place-items:center;
}
.twchr_settUp_overlay #twchr-setUp .card-section p{
    align-self: flex-start;
    justify-self: flex-start;
    margin:0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}
.twchr_settUp_overlay #twchr-setUp .card-section p a{
    font-size:9pt;
}
.twchr_settUp_overlay #twchr-setUp .card-section h4{
    align-self: flex-end;
    justify-self: flex-start;
    margin:0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}
.twchr_settUp_overlay #twchr-setUp .card-section img{
    grid-row:1/3;
    grid-column:3/4;
}

.twchr_settUp_overlay #twchr-setUp .card-section.form{
    padding:2cm 1cm;
}
.card-section.form form{
    grid-column:2/3;
    grid-row:3/4;
    
}
.card-section.form form input[type=text],
.card-section.form form input[type=password]{
    display: block;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
    border-radius: 10px;
    width: 658px;
    height: 60px;
    font-size:20px;
}
.card-section.form form label{
    color:var(--twchr-blue);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.card-section.form form input[type=submit]{
    background: var(--twchr-purple);
    border-radius: 10px;
    border:none;
    color:#fff;
    width: 294px;	
    height: 58px;
    font-size:20px;
}

.twitch-result .error-card{
    text-align:center;
}
.twitch-result .error-card h3{
    font-size: 3em;
    color:tomato;
}

#twittcher-stream{
     display: none; 
}
.twchr_custom_card--contain{
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #FFFFFF;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px #A6ABBD;
    border-radius: 15px;
    padding: 26pt 65pt 35pt 65pt;
    box-sizing:border-box;
    font-family: 'Comfortaa';
    font-style: normal;
}
.twchr_custom_card--contain .twchr_card_header{
    display: grid;
    grid-template-columns:1fr 220px;
    grid-template-rows:68px 100px;
}
.twchr_custom_card--contain .twchr_card_header--title{
    display: flex;
    align-items:center;
}
.twchr_custom_card--contain .twchr_card_header--title img{
    height: 27px;
    margin-right:10pt;
}
.twchr_custom_card--contain .twchr_card_header--title h3{
    
    
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}
.twchr_custom_card--contain .twchr_card_header-description h4{
    
    
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}
.twchr_custom_card--contain .twchr_card_header--img{
    grid-row:1/3;
    grid-column:2/3;
}

.twchr_custom_card--contain .twchr_card_header--img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.twchr_custom_card--contain .twchr_card_body{
    display: grid;
    grid-template-columns:1fr 220px;
}

.twchr_custom_card--contain .twchr_card_body--list ul{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    height: 100%;
    margin: 0;
}
.twchr_custom_card--contain .twchr_card_body--list li{
    display: grid;
    grid-template-columns:111px auto;
    margin-bottom: 10pt;
}
.twchr_custom_card--contain .twchr_card_body--list li span.label{
    
    
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #C9BBBB;
}
.twchr_custom_card--contain .twchr_card_body--list li span.value{
    
    
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.twchr_custom_card--contain .twchr_card_body--status .item{
    width:max-content;
    margin:0 auto;
    text-align:center;
}

.twchr_custom_card--contain .twchr_card_body--status .item h3{
    color:var(--twchr-purple);
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin: 0 auto 10pt auto;
}

.twchr_custom_card--contain .twchr_card_body--status .item h3.on{
    color:#0C884C;
}
.twchr_custom_card--contain .twchr_card_body--status .item h3.failed{
    color:tomato;
}

#twchr-modal-error{
    font-family: 'Comfortaa';
    font-weight: 600;
    font-size: 15px;
    line-height: 122.5%;
}

#twchr-modal-error .twchr-modal-button{
    height: auto;
    text-align: center;
}
#twchr-modal-error .twchr-modal-button.next,
.twchr-modal-button.ghost{
    border: 2px solid var(--twchr-purple);
    color:var(--twchr-purple);
    background-color: transparent;
}

#twchr_stream_data metabox div:first-child {
    display: flex;
}
#twchr_stream_data metabox div:first-child picture{
    margin-right: 1em;
}
#twchr_stream_data metabox div:first-child img{
    height: 50px;
}

#twchr_stream_data metabox div:first-child label {
    display: flex;
    align-items:center;
}
#twchr_stream_data metabox div:first-child label input{
    margin-left: 1em;
}

.connect-card h2{
    color: #ffe600;
}

.modal-edit-shordcode{
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10pt;
    position: fixed;
    left: 30%;
    transform: scale(1.5);
    border-radius: 10px;
}

.modal-button-container{
    display: flex;
    justify-content: space-around;
}

.modal-duplicate .modal-button-container{
    margin-top: 1cm;
}

@media screen and (max-width:1330px){
    .twchr_settUp_overlay #twchr-setUp{
        max-width: 960px;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section{
        row-gap: 6pt;
    }
}

@media screen and (max-width:1293px){
    .twchr_custom_card--contain .twchr_card_header,
    .twchr_custom_card--contain .twchr_card_body{
        display: block;
    }
}

@media screen and (max-width:960px){
    .twchr_settUp_overlay{
        left: -42pt;
    }
    .twchr_settUp_overlay #twchr-setUp{
        padding-left: 1cm;
        padding-right: 1cm;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section{
        padding: 1cm;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section p,
    .twchr_settUp_overlay #twchr-setUp .card-section h4{
        grid-column-end: span 2;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section img{
        grid-column:1/5;
        grid-row: 3/4;
        width: 100%;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section.form h4{
        grid-column-end: span 1;
    }
}

@media screen and (max-width:782px){
    .twchr_settUp_overlay{
        left: 0;
        top: 6pt;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section.form{
        grid-template-rows: auto 1fr;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section.form h3{
        grid-row: 1/2;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section.form h4{
        grid-column-end: span 2;
    }
    .card-section.form form{
        grid-column: 1/4;
        grid-row: 2/4;
    }

    .card-section.form form input[type="text"],
    .card-section.form form input[type="password"]{
        width:100%;
    }
}

@media screen and (max-width:558px){
    .twchr_settUp_overlay #twchr-setUp .presentation{
        flex-direction: column;
        align-items: center;
        margin-bottom: 2cm;
    }
    .twchr_settUp_overlay #twchr-setUp .card-section{
        display: block;
        padding: 15pt;
    }
    
}